.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modalContent {
  background-color: #0A0A0A;
  color: #fff;
  border-radius: 12px;
  width: 95%;
  max-width: 600px;
  max-height: 90vh;
  padding: 1.5rem;
  border: 1px solid #1c1c1c;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1.5rem;
  font-family: 'Inter', sans-serif;
}

.modalContent::-webkit-scrollbar {
  display: none;
}
.modalContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #1c1c1c;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e0e0e0;
}

.closeButton {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #ccc;
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: 0.5rem;
}

.categoryToggle, .dealToggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.button {
  background-color: #1a1a1a;
  color: #999;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.button:hover {
  background-color: #2a2a2a;
}

.button.active {
  background-color: #051818;
  border-color: #03B9B3;
  color: #fff;
}

.checkIcon {
  width: 1rem;
  height: 1rem;
  color: #27c293;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.priceInputGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputField {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  padding: 0.75rem 0.75rem;
  border-radius: 6px;
  width: 100%;
  font-size: 0.9rem;
  transition: border-color 0.2s, background-color 0.2s;
}
.inputField.filled {
  background-color: #051818;
}

.inputField:focus {
  outline: none;
  border-color: #03b9b3;
}

.inputField::placeholder {
  color: #555;
}

.separator {
  color: #555;
  font-size: 1.2rem;
}

.currencyToggle {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #333;
}

.currencyButton {
  background: transparent;
  border: 1px solid #333;
  color: #999;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: all 0.2s;
}

.currencyButton.active {
  background-color: #1a1a1a;
  border-color: #03B9B3;
  color: #fff;
}
.currencyButton:hover {
  background-color: #2a2a2a;
  border-color: #03B9B3;
}

.dynamicFilters {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.filterLabel {
  font-size: 1rem;
  font-weight: 500;
  color: #ccc;
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.inputRangeGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputRangeLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ccc;
}

.inputRange {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.unit {
  color: #999;
  font-size: 0.9rem;
  margin-left: 0.25rem;
}

.roomButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.roomButton {
  background-color: #1a1a1a;
  color: #999;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.roomButton:hover {
  background-color: #051818;
  border-color: #03B9B3;
  color: #fff;
}

.roomButton.active {
  background-color: #051818;
  border-color: #03B9B3;
  color: #fff;
}
.multiSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #1c1c1c;
}

.resetButton, .submitButton {
  padding: 0.75rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s;
}

.resetButton {
  background: none;
  color: #fff;
  border: 1px solid #333;
}

.resetButton:hover {
  background-color: #2a2a2a;
}

.submitButton {
  background-color: #051818;
  color: #fff;
  border: none;
}

.submitButton:hover {
  background-color: #12725d;
  color: #fff;
}


@media (max-width: 768px) {
  .modalContent {
    width: 95%;
    max-width: none;
    padding: 1rem;
    gap: 1rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .header {
    padding-bottom: 1rem;
  }
  
  .section {
    gap: 0.75rem;
  }
  
  .priceContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  
  .currencyToggle {
    justify-content: center;
  }
  
  .footer {
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }
  
  .resetButton, .submitButton {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .modalContent {
    max-width: 750px;
  }

  .title {
    font-size: 1.75rem;
  }

  .button {
    padding: 1rem;
  }

  .inputField {
    padding: 1rem;
  }
}