.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.ovalContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ovalEffect {
  position: absolute;
  width: 872px;
  height: 411px;
  background: rgba(3, 185, 179, 0.5);
  filter: blur(250px);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  margin-left: 450px;
}

.ovalContainer2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ovalEffect2 {
  position: absolute;
  width: 872px;
  height: 411px;
  background: rgba(3, 185, 179, 0.5);
  filter: blur(250px);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -50px;
}

@media (max-width: 1300px) {
  .mainDiv {
  margin: 0 auto;
  width: 95%;
}
}
