.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
}

.mainP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  height: auto;
  gap: 20px;
  opacity: 1;
  margin-bottom: 80px;
  background-color: transparent;
  z-index: 1;
}

.titleMain {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 1200px;
  height: 75px;
}

.line8 {
  width: 100%;
  height: 1px;
  background: linear-gradient(to Left, #191919, #03b9b3);
  margin-left: 30px;
}

.line9 {
  width: 100%;
  height: 1px;
  background: linear-gradient(to Left, #191919, #03b9b3);
  margin-left: 30px;
}

.mainTitle {
  display: flex;
  width: auto;
  height: auto;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ebebeb;
  white-space: nowrap;

}

.aboutUsContainer {
  position: relative;
  height: auto;
}

.lightEffect {
  position: absolute;
  width: 872px;
  height: 411px;
  margin-top: 300px;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 185, 179, 0.5);
  filter: blur(250px);
  z-index: -1;
}

.lightEffect1 {
  position: absolute;
  width: 872px;
  height: 411px;
  margin-top: 300px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  transform: translate(-50%, -50%);
  background: rgba(3, 185, 179, 0.5);
  filter: blur(250px);
  z-index: -1;
}

.OurValues {
  position: relative;
  z-index: 1;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .mainDiv {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: 20px;
  }

  .mainP {
    width: 100%;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .titleMain {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainTitle {
    font-size: 48px;
    line-height: 56px;
    margin-left: 30px;
  }

  .line8,
  .line9 {
    margin-left: 30px;
    width: 80%;
  }

  .lightEffect,
  .lightEffect1 {
    width: 600px;
    height: 300px;
    filter: blur(200px);
    margin-top: 200px;
  }

  .aboutUsContainer {
    margin-top: -65px;
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .mainDiv {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    margin-left: -15px;
  }

  .mainP {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
  }

  .titleMain {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainTitle {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
  }

  .line8,
  .line9 {
    margin-left: 30px;
    width: 80%;
  }

  .lightEffect,
  .lightEffect1 {
    width: 400px;
    height: 200px;
    filter: blur(150px);
    margin-top: 100px;
  }

  .aboutUsContainer {
    margin-left: 25px;
  }
}
