.modalContent {
  background-color: #0a0a0a;
  color: #ebebeb;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  position: absolute;
  max-height: 75vh;
  overflow-y: auto;
  z-index: 1000;
}

.scrollBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.locationToggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.locationButton {
  flex: 1;
  background-color: #0a0a0a;
  border: 1px solid #03b9b34d;
  color: #ebebeb;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  text-align: center;
}

.locationButton:hover {
  background-color: #1f303c;
}

.locationButton.active {
  background-color: #051818;
  border-color: #051818;
  color: #ebebeb;
}

.locationGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dropdown {
  width: 100%;
  position: relative;
  background-color: #30303033;
  border-radius: 5px;
}

.dropdownButton {
  width: 100%;
  background-color: transparent;
  color: #ebebeb;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.dropdownButton:hover {
  background-color: #30303033;
}

.dropdownButton span {
  font-weight: 400;
}

.dropdownButton svg,
.dropdownButton .chevronOpen {
  width: 16px;
  height: 16px;
  fill: #ebebeb;
  transition: transform 0.3s ease;
}

.dropdownButton .chevronOpen {
  transform: rotate(180deg);
}

.dropdownContent {
  background-color: #30303033;
  border-top: 1px solid #30303033;
  border-radius: 0 0 8px 8px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #1a2a2a;
}

.dropdownItem.active {
  background-color: #051818;
  color: #fff;
}

.dropdownItem::before {
  content: "✔";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.2s ease, width 0.2s ease;
}

.dropdownItem.active::before {
  opacity: 1;
  width: 14px;
}

.columnsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.districtsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.metroColumn,
.districtColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inlineList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px 10px;
}

.inlineList .dropdownItem {
  flex: 0 1 auto;
}

.cancelButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #ebebeb;
  font-size: 24px;
  cursor: pointer;
}

.showMoreBtn {
  display: block;
  margin: 8px auto; /* Отступ сверху/снизу и по центру */
  padding: 6px 12px; /* Внутренние отступы */
  background-color: #051818; /* Синий фон */
  color: #adadad; /* Белый текст */
  border-radius: 4px; /* Скругление углов */
  text-align: center; /* Текст по центру */
  cursor: pointer; /* Курсор как у кнопки */
  font-size: 14px; /* Размер текста */
  transition: background-color 0.2s; /* Плавный hover */
  user-select: none; /* Запрет выделения текста при клике */
}

.showMoreBtn:hover {
  background-color: #082525;
  color: #ffffff; /* Темнее при наведении */
}

.footerButtons {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #0a0a0a;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #1c1c1c;
  z-index: 10;
}

.resetButton,
.applyButton {
  padding: 0.75rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s;
}

.resetButton {
  background: #0a0a0a;
  color: #fff;
  border: 1px solid #333;
}

.resetButton:hover {
  background: #e0e0e0;
}

.applyButton {
  background-color: #051818;
  color: #fff;
  border: none;
}

.applyButton:hover {
  background-color: #12725d;
  color: #fff;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .modalContent {
    max-width: 750px;
    left: 50%;
    transform: translateX(-50%);
  }

  .columnsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .districtsWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .modalContent {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }

  .locationToggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
  }

  .columnsWrapper,
  .districtsWrapper {
    grid-template-columns: 1fr;
  }

  .dropdownButton {
    padding: 10px 12px;
    font-size: 14px;
  }

  .dropdownItem {
    font-size: 12px;
  }

  .inlineList {
    justify-content: flex-start;
  }
}
