/* CatalogPage.module.css */

.catalogContainer {
  display: flex;
  height: 72.9vh;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.rightColumn {
  flex: 1;
  position: relative;
  margin-top: 15px;
}

.listContainer {
  flex: 1;
  overflow-y: scroll;
  padding-right: 20px;
  /* Скрываем скроллбар */
  -ms-overflow-style: none; /* Для IE и Edge */
  scrollbar-width: none; /* Для Firefox */
}

/* Для Webkit-браузеров (Chrome, Safari) */
.listContainer::-webkit-scrollbar {
  display: none;
}

.catalogTitle {
  margin-bottom: 10px;
}