/* CatalogPage.module.css */

/* Стили для ПК (по умолчанию) */
.catalogContainer {
  display: flex;
  height: 72.9vh;
  gap: 20px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.rightColumn {
  flex: 1;
  position: relative;
  margin-top: 15px;
}

.listContainer {
  flex: 1;
  overflow-y: scroll;
  padding-right: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.catalogTitle {
  margin-bottom: 10px;
}

.toggleMapButton {
  display: none;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #03b9b34d;
  background-color: #0a0a0a;
  color: #ebebeb;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.catalogMapOnly {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mapVisible {
  display: block;
}

/* Новые стили для кнопки закрытия карты */
.closeMapButton {
  display: none;
  position: absolute;
  top: 15px;
  z-index: 1000;
  background-color: rgba(10, 10, 10, 0.7);
  color: #ebebeb;
  border: 1px solid #03b9b34d;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  box-sizing: border-box;

  /* Центрирование по горизонтали */
  left: 50%;
  transform: translateX(-50%);
}

.closeMapButton:hover {
  background-color: rgba(10, 10, 10, 0.9);
}

/* ---------------------------------
   Адаптация для планшетов (769px - 1300px)
   --------------------------------- */
@media (min-width: 769px) and (max-width: 1300px) {
  .catalogContainer {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .leftColumn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .listContainer {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    padding-right: 10px;
  }

  .rightColumn {
    display: none;
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .toggleMapButton {
    display: block;
    width: 95%;
  }

  .rightColumn.mapVisible {
    display: block;
  }

  .catalogMapOnly .leftColumn {
    display: none;
  }

  .closeMapButton {
    display: block;
  }
}

/* ---------------------------------
   Адаптация для мобильных устройств (375px - 768px)
   --------------------------------- */
@media (min-width: 375px) and (max-width: 768px) {
  .catalogContainer {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .leftColumn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .listContainer {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    padding-right: 10px;
  }

  .rightColumn {
    display: none;
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }

  .toggleMapButton {
    display: block;
    width: 92%;
  }

  .rightColumn.mapVisible {
    display: block;
  }

  .catalogMapOnly .leftColumn {
    display: none;
  }

  .closeMapButton {
    display: block;
  }
}