.searchInputWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex; /* Нова властивість */
  align-items: center; /* Нова властивість */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.tagsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #0a0a0a;
  border: 1px solid #03b9b34d;
  border-radius: 5px;
  padding: 6px 8px;
  flex-grow: 1;
  box-sizing: border-box;
  height: 42px;
  overflow: hidden;
  position: relative;
}

.tagList {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  scrollbar-width: none;

  flex: 0 0 auto;
  max-width: 300px;
  min-width: 0;
}

.tagList::-webkit-scrollbar {
  display: none;
}

.tagList.dragging {
  cursor: grabbing;
}

.tag {
  background-color: #03b9b34d;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 0.85rem;
  flex-shrink: 0;
  white-space: nowrap;
}

.removeTagButton {
  background: none;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transform: scale(1.05);
}

.input {
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
  border: none;
  background: transparent;
  color: #fff;
  height: 28px;
  outline: none;
  padding: 4px 6px;
  cursor: pointer;
  box-sizing: border-box;
}

.input::placeholder {
  color: #999;
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 36px;
  background-color: #fff;
  color: #000;
  padding: 0 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.15s ease;
  text-transform: uppercase;
  z-index: 20;
  flex-shrink: 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1000px) {
  .searchInputWrapper {
    max-width: 720px;
    margin: 0 auto;
  }

  .tagsContainer {
    padding: 5px 6px;
    height: 42px;
  }

  .tagList {
    max-width: 180px;
  }

  .input {
    height: 26px;
  }

  .searchButton {
    height: 40px;
    padding: 0 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .searchInputWrapper {
    max-width: 360px;
    margin: 0 auto;
  }

  .tagsContainer {
    padding: 4px 6px;
    height: 42px;
  }

  .tagList {
    max-width: 50px;
  }

  .input {
    height: 24px;
    font-size: 0.9rem;
  }

  .searchButton {
    height: 40px;
    padding: 0 6px;
    font-size: 0.85rem;
  }
}
