/* style.module.css */

.hero {
  position: relative;
  width: 1200px;
  height: 550px;
  /* Центрирует блок по горизонтали */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Прижимает содержимое к низу */
  align-items: center; /* Центрирует содержимое по горизонтали */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.01) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0.01) 90%
  );
  border-top-left-radius: 25px; /* Закругление сверху */
  border-top-right-radius: 25px;
}

.heroTitleContainer {
  position: absolute;
  bottom: -40px; /* Небольшой отступ снизу */
  left: 10px; /* Небольшой отступ слева */
  transform: translateX(0); /* Убираем горизонтальное смещение */
  width: auto; /* Позволяем ширине подстраиваться под текст */
  max-width: 80%; /* Ограничиваем максимальную ширину, чтобы текст не выходил за края на узких экранах */
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  text-align: left; /* Выравниваем текст по левому краю */
}

.heroTitle {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.searchFormContainer {
  margin-top: 10px;
  margin-bottom: 80px; /* Отступ снизу для формы поиска */
  width: 1200px; /* Задаем ширину, чтобы она совпадала с .hero */
  /* Центрируем и добавляем отступ сверху */
  padding: 0 20px;
  box-sizing: border-box;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 180px;
}

.dropdown label {
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dropdown select {
  background-color: #051818;
  color: #ffffff;
  border: 1px solid #03b9b3;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  min-width: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%2303b9b3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.searchBtnWrapper {
  width: 100px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.searchButton:hover {
  background-color: #03b9b3;
  color: #ffffff;
}
