.properties {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.property-card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  transition: transform 0.2s ease-in-out;
  width: 287.6666564941406px;
  height: 416px;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.property-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.property-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: #050505;
  text-transform: small-caps;
}

.property-description {
  font-size: 13px;
  color: #555555;
  margin-bottom: 5px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
}

.property-location {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #050505;
  margin-bottom: 15px;
  text-transform: small-caps;
  font-weight: bold;
}

.property-price {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  color: #263544;
  margin-top: auto;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.property-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: 10px;
}

.detail-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #263544;
}

.detail-item .icon {
  margin-right: 5px;
  font-size: 1.1em;
}

.property-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #555555;
  padding-top: 10px;
}

.property-type {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.property-date {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
