/* Partners and headers main container */
.teamSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 1200px;
  height: auto;
  box-sizing: border-box;
}

/* Titles container */
.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 1200px;
  height: 56px;
  box-sizing: border-box;
}

/* "Партнери" and "Керівники" titles */
.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  font-variant: small-caps;
  color: #ebebeb;
  margin: 0;
}

/* Container for all team member cards (Par&Man) */
.teamMembersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1200px;
  box-sizing: border-box;
}

/* Container for each group (Partners or Managers) */
.teamGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
}

/* Team member card */
.teamMemberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: auto;
  height: auto;
  background: #0a0a0a;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Card content */
.cardContent {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

/* Photo and name container */
.photoAndName {
  width: 100%;
  height: 232px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

/* Photo of team member */
.memberPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 4px;
}

/* Member name */
.memberName {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  position: relative;
  z-index: 2;
  white-space: pre-line;
  word-wrap: break-word;
}

/* Member description container */
.memberDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
  height: auto;
}

/* Position text container */
.memberPosition {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0px 0px;
  width: 100%;
  border-top: 1px solid #303030;
}

/* Position text */
.positionText {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #03b9b3;
  margin: 0;
}

/* Vectors (logo and arrow) container */
.vectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  width: 100%;
  height: 20px;
}

.mySpaceLogo {
  width: 52px;
  height: 20px;
}

.arrowIcon {
  width: 20px;
  height: 20px;
}

/* --- Планшетная адаптация --- */
@media (min-width: 769px) and (max-width: 1300px) {
  /* Основной контейнер */
  .teamSection {
    width: 90%; /* Адаптируем ширину под планшет */
    max-width: 100%;
    margin: 0 auto;
    gap: 30px;
  }

  /* Контейнер заголовков */
  .titles {
    width: 100%;
    gap: 20px;
  }
  
  /* Заголовки */
  .title {
    font-size: 4.5vw; /* Уменьшаем размер шрифта в зависимости от ширины вьюпорта */
    line-height: 5vw;
  }
  .title:first-child {
    font-size: 4.5vw;
  }

  /* Основной контейнер для групп */
  .teamMembersContainer {
    width: 100%;
    gap: 20px;
  }

  /* Контейнер каждой группы */
  .teamGroup {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  /* Фото и имя */
  .photoAndName {
    height: 15vw; /* Уменьшаем высоту относительно вьюпорта */
  }
  
  /* Имя */
  .memberName {
    font-size: 2vw;
    line-height: 2.2vw;
  }
  
  /* Должность */
  .positionText {
    font-size: 1.5vw;
    line-height: 1.7vw;
  }

  /* Иконки */
  .mySpaceLogo {
    width: 4vw;
  }
  
  .arrowIcon {
    width: 2vw;
    height: 2vw;
  }
}