.container {
  background-color: #050505;
  color: #fff;
  width: 905px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.searchContainer {
  position: relative;
}

.topPanel {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 40px;
}

.sortSelect {
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='white' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>")
    no-repeat right 0.5rem center;
  min-width: 100px;
  max-width: 120px;
  width: auto;
  height: 42px;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color: #0a0a0a;
  border: 1px solid #03b9b34d;
  color: #fff;
  cursor: pointer;
}

.sortSelect:focus {
  outline: none;
  border-color: #03b9b3;
}

.filterButton {
  height: 42px;
  padding: 0 1rem;
  border-radius: 5px;
  background-color: #0a0a0a;
  border: 1px solid #03b9b34d;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.2s ease;
}

.filterButton:hover {
  background-color: #444;
}

.filterIcon {
  width: 20px;
  height: 20px;
}

.modalClosed {
  display: none;
}

.modalOpen {
  display: block;
}

@media (max-width: 1300px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .filterButton span {
    display: none;
  }

  .filterButton {
    padding: 0 0.6rem;
    min-width: 40px;
  }

  .filterIcon {
    width: 22px;
    height: 22px;
  }

  .topPanel {
    gap: 0.3rem;
  }
}
