/* General styles */
.container {
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  border-radius: 10px;
}

/* New container for positioning the modal */
.searchContainer {
  position: relative;
}

/* Top search and filter panel */
.topPanel {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.input {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  padding: 0 1rem;
}

.input::placeholder {
  color: #999;
}

.locationButton {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.modalClosed {
  display: none; /* скрываем */
}
.modalOpen {
  display: block; /* показываем */
}
