@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

main {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 20px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100vw;
}

@media (max-width: 1024px) {
  main {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}
