.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: "Inter", sans-serif;
}

.modalContent {
  background: #050505;
  padding: 40px;
  width: 90%;
  max-width: 1120px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.modalTitle {
  color: #ebebeb;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}

.modalTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #050505, #051818, #050505);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formLabel {
  color: #d1d1d1;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.form input {
  padding: 15px 12px;
  border: 1px solid #4a4a4a;
  background: #2c2c2c;
  color: #ebebeb;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease;
}

.form input[type="tel"]::placeholder {
  color: #ebebeb;
  font-weight: bold;
}

.customSelect {
  position: relative;
  width: 100%;
}

.selectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  border: 1px solid #4a4a4a;
  background: #2c2c2c;
  color: #ebebeb;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.customSelect.open .arrow {
  transform: rotate(180deg);
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2c2c;
  border: 1px solid #4a4a4a;
  border-top: none;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.optionItem {
  padding: 15px 12px;
  color: #ebebeb;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s ease;
}

.optionItem:hover {
  background-color: #3e3e3e;
}

.formFooter {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form button {
  width: auto;
  min-width: 150px;
  background-color: #051818;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #092b2b;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  line-height: 1;
}

@media (max-width: 768px) {
  .modalContent {
    padding: 20px;
  }

  .form {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .formItem {
    padding: 0;
  }

  .form input,
  .form select,
  .selectHeader {
    padding: 12px;
    font-size: 16px;
  }

  .optionsList {
    font-size: 16px;
  }
  
  .optionItem {
    padding: 12px;
    font-size: 16px;
  }

  .formFooter {
    grid-column: span 1;
    justify-content: center;
  }

  .form button {
    width: 100%;
    min-width: unset;
  }

  .modalTitle {
    font-size: 20px;
  }
}