/* ConsultationModal.module.css */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: "Inter", sans-serif;
}

.modalContent {
  background: #050505;
  margin-left: 65px; /* Corrected background color */
  padding: 40px;
  width: 1120px; /* Adjusted width to better match the image */
  position: relative;
  text-align: center; /* Центруем текст */
}

.modalTitle {
  color: #ebebeb;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}

.modalTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #050505, #051818, #050505);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formLabel {
  color: #d1d1d1;
  font-size: 14px;
  margin-bottom: 5px;
}

.form input,
.form select {
  padding: 15px 12px;
  border: 1px solid #4a4a4a; /* Border color from the image */
  background: #2c2c2c;
  color: #ebebeb;
  font-size: 14px;
  appearance: none; /* Removes default select arrow */
}

/* Specific styling for the phone field placeholder */
.form input[type="tel"]::placeholder {
  color: #ebebeb;
  font-weight: bold;
}

.form select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>')
    no-repeat right 12px center;
  background-size: 16px;
  color: #ebebeb;
}

.formFooter {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form button {
  width: 100%;
  background-color: #051818;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.form button:hover {
  background-color: #092b2b;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  line-height: 1;
}
