.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  width: 100%;
  max-width: 1920px;
  height: 92px;
  background: #050505;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  max-width: 90%;
  height: 56px;
  margin-left: 0px;
}

.leftNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.logo img {
  width: 108px;
  height: 56px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 41px;
}

.navLinks a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ebebeb;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #03b9b3;
}

.navLinks .activeLink {
  color: #03b9b3;
}

.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ctaButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  gap: 10px;
  width: 192px;
  height: 47px;
  background: #051818;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ebebeb;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.ctaButton:hover {
  background: #092b2b;
  color: #ffffff;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.phone {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ebebeb;
  text-decoration: none;
}

@media (max-width: 1300px) {
  

  .navLinks,
  .navRight {
    display: none;
  }

  .navbar {
    width: 90%;
  }

  .mobileMenuToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .hamburgerButton {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
    margin-top: 5px;
    padding: 0;
  }

  .hamburgerLine {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #03b9b3;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }

  .hamburgerButton.open .hamburgerLine:first-child {
    transform: translateY(13px) rotate(45deg);
  }

  .hamburgerButton.open .hamburgerLine:nth-child(2) {
    opacity: 0;
  }

  .hamburgerButton.open .hamburgerLine:last-child {
    transform: translateY(-13px) rotate(-45deg);
  }

  .mobileMenuWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 92px;
    right: 0;
    width: 100%;
    background: #051818;
    z-index: 99;
    padding: 0;
  }

  .mobileNavLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .mobileNavLinks li {
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    position: relative;
  }

  .mobileNavLinks li::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #03b9b300 0%, #03b9b380 50%);
  }

  .mobileNavLinks li:last-child::after {
    content: none;
  }

  .mobileNavLinks li:last-child {
    border-bottom: none;
  }

  .mobileNavLinks a,
  .mobileNavLinks .phone {
    font-size: 20px;
    line-height: 23px;
    color: #ebebeb;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }

  .mobileNavLinks .ctaButton {
    background: none;
    padding: 0;
    display: inline;
    text-transform: uppercase;
  }

  .langItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 1301px) {
  .mobileMenuToggle {
    display: none;
  }
}
