/* Header block */
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  width: 1920px;
  height: 92px;
  background: #050505;
  border-radius: 0px 0px 20px 20px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Распределяем пространство между левой и правой частью */
  align-items: center;
  width: 1200px;
  height: 56px;
}

/* Left Nav (Лого и навигация) */
.leftNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px; /* Отступ между логотипом и ссылками */
}

/* Logo */
.logo img {
  width: 108px;
  height: 56px;
}

/* Navigation Links */
.navLinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 41px; /* Отступ между ссылками */
}

.navLinks a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ebebeb;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #03b9b3;
}

/* Active link */
.navLinks .activeLink {
  color: #03b9b3; /* Цвет для активной ссылки */
}

/* Right Nav */
.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

/* CTA Button */
.ctaButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  gap: 10px;
  width: 192px;
  height: 47px;
  background: #051818;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ebebeb;
  text-decoration: none;
  white-space: nowrap;
}
.ctaButton:hover {
  background: #092b2b; /* Цвет при наведении */
  color: #ffffff; /* Цвет текста при наведении */
}
/* Contact Info */
.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.langSelector {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  gap: 41px;
}

/* Phone number */
.phone {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ebebeb;
  text-decoration: none;
}
