.imagesBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px; /* Ширина блока с изображениями */
}

.mainImage {
  width: 100%;
  height: 474.92px; /* Фиксированная высота */
  border-radius: 20px;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.thumbnail {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}
