.footer {
  background-color: #050505;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  opacity: 1;

  width: 100%;
  max-width: 1920px;
  height: 325px;
  border-top: 1px solid #2e2e2e;
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainContent {
  width: 1200px;
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  margin-left: 25px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 247.5px;
  height: 295px;
  gap: 218px;
  justify-content: space-between;
}

.logoSection img {
  width: 108px;
  height: 56.61px;
}

.copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #565656;
  white-space: nowrap;
}

.menuSection,
.infoSection,
.contactSection {
  display: flex;
  flex-direction: column;
  width: 247.5px;
  height: 295px;
}

.footerHeading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 20px;
  color: #565656;
}

.footerLinks {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLinks a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: #ebebeb;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.footerLinks a:hover {
  color: #03b9b3;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.socialIcon {
  width: 32px;
  height: 32px;
  margin-top: 50px;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .footer {
    min-width: 800px;
    max-width: 1800px;
    width: 100%;
    height: 265px;
    margin: 0 auto;
  }

  .mainContent {
    min-width: 769px;
    max-width: 1200px;
    width: auto;

    gap: 30px;
  }

  .logoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 172.5px;
    height: 20px;
    gap: 218px;
    justify-content: space-between;
  }

  .logoSection img {
    width: 54px;
    height: 30px;
  }

  .menuSection,
  .infoSection,
  .contactSection {
    width: 172.25px;
    height: 62px;
    margin-left: -20px;
    margin-top: -10px;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footerHeading {
    font-size: 10px;
  }

  .footerLinks {
    gap: 10px;
  }

  .footerLinks a {
    font-size: 12px;
  }

  .socialIcons {
    gap: 20px;
    margin-top: 30px;
  }

  .copyright {
    font-size: 12px;
    margin-top: -15px;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .mainContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "menu contact"
      "info ."
      "logo social";
    gap: 20px 0;
    margin: 0;
  }

  .logoSection {
    grid-area: logo;
    width: auto;
    height: auto;
    gap: 10px;
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  .logoSection img {
    width: 70px;
    height: auto;
  }

  .copyright {
    font-size: 10px;
    margin-top: 0;
    white-space: normal;
    text-align: left;
  }

  .menuSection {
    grid-area: menu;
    width: auto;
    height: auto;
    margin: 0;
  }

  .infoSection {
    grid-area: info;
    width: auto;
    height: auto;
    margin: 0;
  }

  .contactSection {
    grid-area: contact;
    width: auto;
    height: auto;
    margin: 0;
  }

  .footerHeading {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .footerLinks {
    gap: 10px;
  }

  .footerLinks a {
    font-size: 12px;
  }

  .socialIcons {
    grid-area: social;
    gap: 10px;
    margin: 0;
    align-self: flex-end;
    margin-bottom: -110px;
  }

  .socialIcon {
    width: 24px;
    height: 24px;
  }
}
