/* About us main container */
.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 1200px;
  height: 451px;
  box-sizing: border-box;
  margin-left: 360px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Title section */
.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1200px;
  height: 75px;
}

/* "Про нас" title */
.mainTitle {
  width: 283px;
  height: 75px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #EBEBEB;
  margin: 0;
  white-space: nowrap;
}

/* Line 8 */
.line8 {
  width: 887px;
  height: 1px;
  background: linear-gradient(to left, #191919, #03B9B3);
}

/* Frame 275 - Content section */
.contentSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 1200px;
  height: 316px;
}

/* Image container */
.imageContainer {
  width: 546px;
  height: 316px;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
}

.mainImage {
  width: 546px;
  height: 316px;
  object-fit: cover;
}

/* Text container (Frame 274) */
.textContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;
  width: 654px;
  height: 316px;
  background: #EBEBEB;
  border-radius: 0px 20px 20px 0px;
}

/* Frame 272 - text content */
.frame272 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 574px;
  height: 236px;
  margin-top: -35px;
}

/* Heading text */
.textHeading {
  width: 574px;
  height: 84px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-variant: all-small-caps;
  color: #050505;
  margin: 0;
}

/* Body text */
.textBody {
  width: 574px;
  height: 64px;
  font-family: 'Raleway';
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-variant: all-small-caps;
  color: #565656;
  margin: 0;
  font-variant: small-caps;
}
