.mapContainer {
  position: relative;
}

.drawButtonContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.zoomButtonsContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.mapCanvas {
  width: 905px;
  height: 668.98px;
}