.mapContainer {
  position: relative;
  touch-action: auto;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.drawButtonContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.zoomButtonsContainer {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.mapCanvas {
  width: calc(100% - 0px);
  max-width: 100%;
  height: calc(100% - 0px);
  margin-right: 10px;
  z-index: 10;
}

@media (min-width: 769px) and (max-width: 1300px) {
  .mapContainer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .mapCanvas {
    width: 100%;
    height: 100%;
  }

  .drawButtonContainer {
    top: 20px;
    left: 20px;
  }

  .zoomButtonsContainer {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .mapContainer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .mapCanvas {
    width: 100%;
    height: 100%;
  }

  .drawButtonContainer {
    top: 10px;
    left: 10px;
  }

  .zoomButtonsContainer {
    top: 10px;
    right: 10px;
  }

  .mapButton {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}
